
.checkbox-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.2s ease-in-out;
  margin: auto; /* Centraliza dentro da célula */
}
  
  .checkbox-container:hover {
    background-color: #f0f0f0;
  }
  
  .checkbox-container.checked {
    background-color: #c7cfd1;
    border-color: #c7cfd1;
  }
  
  .check-icon {
    color: black;
    font-size: 12px;
  }

.tableFingerCadastro td:first-child,
.tableFingerCadastro th:first-child {
  text-align: center;
  vertical-align: middle;
  width: 40px; /* Mantém uma largura fixa para alinhar */
  padding: 0;
}



